{% extends 'events/base.html' %}

{% block content %}

    <h1>{{ venue }}</h1><br>
    
    <div class="card">
        <div class="card-header">
            Venue
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ venue }}</h5>
          <p class="card-text">
           
            {{ venue.address }}<br>
            {{ venue.zip_code }}<br>
            {{ venue.phone }}<br>
            {{ venue.email }}<br>
            <a target="_blank" href="{{ venue.web }}">{{ venue.web }}</a><br>
          </p>
        </div>
      </div>
      
   

{% endblock content %}